---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Collection from "../../components/Collection.astro";

const posts = await getCollection("posts");
---

<Layout title="All posts">
    <p>Here is the list of all my posts.</p>
    <Collection posts={posts} />
</Layout>
