* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-light-color: 255, 255, 255;
    --bg-dark-color: 19, 21, 26;
    --fg-light-color: 51, 51, 51;
    --fg-dark-color: 224, 224, 224;
    --main-font: "Poppins", system-ui, sans-serif;
    --header-font: "Raleway", system-ui, sans-serif;
    --mono-font: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

html {
    font-family: var(--main-font);
    background: rgb(var(--bg-dark-color));
    color: rgb(var(--fg-dark-color));
}

@media (prefers-color-scheme: light) {
    html {
        background: rgb(var(--bg-light-color));
        color: rgb(var(--fg-light-color));
    }
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 1000px;
    padding: 1rem;
    max-width: calc(100% - 2rem);
}

@media print {
    header {
        display: none;
    }
}

.header {
    font-family: var(--header-font);
    font-size: 48px;
    font-weight: 300;
    margin-right: 2rem;
}

header > nav {
    display: flex;
    gap: 1rem;
}

header > nav a,
header > nav a:hover,
header > nav a:focus {
    text-decoration: none;
    border-bottom: none;
}

main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    line-height: 1.35;
}

.title {
    border-bottom: 1px solid rgba(var(--category-dark-color), 1);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
    .title {
        border-bottom: 1px solid rgba(var(--category-light-color), 1);
    }
}

.badge,
.badge:visited {
    background-color: rgba(var(--category-dark-color), 0.8);
    border-radius: 1rem;
    color: rgb(var(--bg-dark-color));
    padding: 0 0.5rem;
}

.badge:focus,
.badge:hover {
    background-color: rgba(var(--category-dark-color), 1);
}

@media (prefers-color-scheme: light) {
    .badge,
    .badge:visited {
        color: rgb(var(--bg-light-color));
        background-color: rgba(var(--category-light-color), 0.8);
    }
    .badge:focus,
    .badge:hover {
        background-color: rgba(var(--category-light-color), 1);
    }
}

@media print {
    .badge {
        color: rgb(var(--fg-light-color));
        background-color: rgb(var(--bg-light-color));
        border: 1px solid rgba(var(--category-light-color), 1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: 700;
    line-height: 1;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
    scroll-margin-top: 2.25rem;
}

:is(h1, h2, h3, h4, h5, h6) a {
    font-size: 80%;
    line-height: 100%;
    opacity: 30%;
    text-decoration: none;
    border-bottom: none;
}

@media print {
    :is(h1, h2, h3, h4, h5, h6) a {
        display: none;
    }
}

:is(h1, h2, h3, h4, h5, h6) a:hover {
    border-bottom: none;
    opacity: 60%;
}

:is(h1, h2, h3, h4, h5, h6) a .icon::after {
    content: "#";
    padding: 8px;
}

h1 {
    margin-top: 1rem;
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    margin-top: 0;
}

a,
a:visited {
    text-decoration: none;
    color: rgba(var(--category-dark-color), 0.8);
    border-bottom: 1px solid rgba(var(--category-dark-color), 0.8);
}

a:focus,
a:hover {
    color: rgba(var(--category-dark-color), 1);
    border-bottom: 1px solid rgba(var(--category-dark-color), 1);
}

sup > a,
a.data-footnote-backref {
    text-decoration: none;
    border-bottom: none;
    color: rgba(var(--category-dark-color), 0.6);
}

@media print {
    a.data-footnote-backref {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    a,
    a:visited {
        color: rgba(var(--category-light-color), 0.8);
        border-bottom: 1px solid rgba(var(--category-light-color), 0.8);
    }

    a:focus,
    a:hover {
        color: rgba(var(--category-light-color), 1);
        border-bottom: 1px solid rgba(var(--category-light-color), 1);
    }

    sup > a,
    a.data-footnote-backref {
        color: rgba(var(--category-light-color), 0.6);
    }
}

blockquote {
    position: relative;
    margin: 1rem 0;
    padding: 1rem 3rem;
}

blockquote::before {
    content: "\201d";
    font-family: symbol;
    font-size: 6rem;
    position: absolute;
    top: -0.5rem;
    left: 0;
    color: rgba(var(--category-dark-color), 0.6);
}

@media (prefers-color-scheme: light) {
    blockquote::before {
        color: rgba(var(--category-light-color), 0.6);
    }
}

blockquote > p:last-child {
    margin-bottom: 0;
}

pre {
    padding: 1rem;
    border-radius: 0.5rem;
}

code {
    font-family: var(--mono-font);
}

@media print {
    pre {
        border: 1px solid rgb(var(--fg-light-color));
    }
}

ul.contains-task-list {
    list-style: none;
    padding-left: 2rem;
}

ul.contains-task-list > li.task-list-item {
    position: relative;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
}

ul.contains-task-list > li.task-list-item > input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -2rem;
    top: 0rem;
    border: 2px solid rgba(var(--category-dark-color), 0.6);
    border-radius: 2px;
    width: 0.8rem;
    height: 0.8rem;
}

ul.contains-task-list
    > li.task-list-item
    > input[type="checkbox"]:checked:before {
    border: 2px solid rgba(var(--category-dark-color), 1);
    background-color: rgba(var(--category-dark-color), 1);
}

ul.contains-task-list
    > li.task-list-item
    > input[type="checkbox"]:checked::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -1.8rem;
    top: 0.3rem;
    border-left: 2px solid rgb(var(--bg-dark-color));
    border-bottom: 2px solid rgb(var(--bg-dark-color));
    width: 0.6rem;
    height: 0.2rem;
    transform: rotate(-45deg);
}

@media (prefers-color-scheme: light) {
    ul.contains-task-list > li.task-list-item > input[type="checkbox"]::before {
        border: 2px solid rgba(var(--category-light-color), 0.6);
    }

    ul.contains-task-list
        > li.task-list-item
        > input[type="checkbox"]:checked:before {
        border: 2px solid rgba(var(--category-light-color), 1);
        background-color: rgba(var(--category-light-color), 1);
    }

    ul.contains-task-list
        > li.task-list-item
        > input[type="checkbox"]:checked::after {
        border-left: 2px solid rgb(var(--bg-light-color));
        border-bottom: 2px solid rgb(var(--bg-light-color));
    }
}

@media print {
    ul.contains-task-list
        > li.task-list-item
        > input[type="checkbox"]:checked::after {
        border-left: 2px solid rgb(var(--bg-dark-color));
        border-bottom: 2px solid rgb(var(--bg-dark-color));
    }
}

a.skip-to-main {
    position: absolute;
    top: -4rem;
    left: 1rem;
    background-color: rgb(var(--fg-dark-color));
    color: rgb(var(--bg-dark-color));
    padding: 0.5rem;
    text-align: center;
}

a.skip-to-main:focus {
    top: 1rem;
}

@media (prefers-color-scheme: light) {
    a.skip-to-main {
        background-color: var(--fg-light-color);
        color: rgb(var(--bg-light-color));
    }
}
