@media (min-width: 1000px) {
    main > article {
        --main-width: 70%;
        --aside-width: 25%;

        position: relative;
        padding-right: calc(100% - var(--main-width));
    }

    a[href*='user-content-fn'] {
        text-decoration: none;
        pointer-events: none;
    }

    #footnote-label {
        display: none;
    }

    .footnotes {
        position: absolute;
        width: var(--aside-width);
        right: 1rem;
        top: 0;
        font-size: 90%;
    }


    .footnotes > ol > li {
        right: 0;
        width: 100%;
    }
    
    .footnotes > ol > li::marker {
        color: rgba(var(--category-dark-color), 1);
    }

    .footnotes > ol > li p {
        margin: 0;
    }

    .data-footnote-backref {
        display: none;
    }
}
