---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { categories, type CategoryData } from "../types";

type Props = {
    category: CategoryData;
};

export const getStaticPaths: GetStaticPaths = async () => {
    return Object.entries(categories).map(([categoryName, category]) => ({
        params: { categoryName },
        props: { category },
    }));
};

const { categoryName } = Astro.params as { categoryName: string };
const { category } = Astro.props;

const posts = await getCollection("posts");
const filteredPosts = posts.filter((post) =>
    post.data.category.includes(categoryName)
);
---

<Layout title={category?.name ?? ""}>
    {
        filteredPosts.length > 0 ? (
            <ul>
                {filteredPosts.map((post) => (
                    <li>
                        <a href={`/${post.collection}/${post.slug}`}>
                            {post.data.title}
                        </a>
                    </li>
                ))}
            </ul>
        ) : (
            <p>There are no posts in this category yet. Stay tuned!</p>
        )
    }
</Layout>
