---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { categories, latestPostCount, favouritePostSlugs } from "../types";
import Collection from "../components/Collection.astro";

const posts = await getCollection("posts");
const latestPosts = posts
    .toSorted((p1, p2) => +p2.data.pubDate - +p1.data.pubDate)
    .slice(0, latestPostCount);

const favouritePosts = favouritePostSlugs.map(
    (slug) => posts.find((post) => post.slug === slug)!
);
---

<Layout title="Welcome to my blog" isCategoryPage>
    <section class="introduction">
        <img src="/olti.png" alt="" width="200" height="207" />
        <div class="introduction-description">
            <p>Hi, my name is Daniel Grant!</p>
            <p>
                I've been a web developer and DevOps engineer since 2016. I'm
                developing open-source projects mostly in TypeScript and Rust.
            </p>
            <p>
                I like to write about
                <a
                    href="/webdev"
                    style={{
                        "--category-dark-color": categories.webdev.color.dark,
                        "--category-light-color": categories.webdev.color.light,
                    }}>web development</a
                >,
                <a
                    href="/rust"
                    style={{
                        "--category-dark-color": categories.rust.color.dark,
                        "--category-light-color": categories.rust.color.light,
                    }}>Rust</a
                > and
                <a
                    href="/devops"
                    style={{
                        "--category-dark-color": categories.devops.color.dark,
                        "--category-light-color": categories.devops.color.light,
                    }}>DevOps</a
                >.
            </p>
        </div>
    </section>
    <section>
        <h2>My latest posts</h2>
        <p>Here are a few of my newest posts.</p>
        <Collection posts={latestPosts} />
        <p>
            Subscribe to the
            <a href="/rss.xml">RSS feed</a> to always be up-to-date.
        </p>
    </section>
    <section>
        <h2>Favourites</h2>
        <p>Don't know what to read? Here are some of my faves.</p>
        <Collection posts={favouritePosts} />
        <p>Still searching? Check out <a href="/posts">all posts</a>.</p>
    </section>
</Layout>

<style>
    .introduction {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .introduction-description {
        padding: 1rem;
    }

    @media (max-width: 500px) {
        .introduction {
            flex-direction: column;
        }
    }
</style>
